:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem; /* Perbaiki spasi */
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: relative;
    width: 100%;
    transition: 2s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffefe;
    mask-image: linear-gradient(rgba(255, 255, 255, 1), transparent);
}

.nav-container {
    display: grid;
    justify-content: center;
    transition: 2s;
}

.nav-container > ul {
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 300px;
    gap: 70%;
    font-size: medium;
    color: rgb(17, 7, 7);
}

.nav-container .nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(15, 15, 15);
    font-weight: 700;
    transform: translateY(-10px);
    border-bottom: 5px solid rgb(15, 15, 15); /* Ganti border-block-end */
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--container-color);
}

.main-content .background {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%),
        url("https://images.unsplash.com/photo-1454692879716-176cf9058183?q=80&w=2054&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(1px);
}

.architect-services {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}